html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  line-height: 1.3rem;
  font-weight: normal;
  color: #555;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
}

img {
  width: 100%;
}

article header {
  margin-top: 2rem;
  margin-bottom: 0;
}

article p {
  margin: 1rem 1rem 0rem;
}

article h1 {
  font-style: normal;
  color: #222;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 1rem 0rem 0rem 1rem;
  padding: 0rem 1rem;
}

article p p {
  margin: 1rem 0rem 0rem;
}

blockquote {
  margin-top: 4px;
  margin-bottom: 1rem;
  padding: 0rem;
}

article header p {
  font-style: italic;
  margin: 0px 1rem 1rem;
  padding: 0rem 1rem 2rem;
  border-bottom: 2px solid black;
}

article blockquote {
  margin-top: 4px;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  padding: 0rem 0rem 1rem;
}
article p + p {
  margin: 1rem;
}

.quote {
  font-style: italic;
}

blockquote p {
  color: #999;
  margin: 1rem;
}

article ol {
  text-align: left;
  font-size: 1em;
}

article ol + p {
  border-bottom: 2px solid black;
  margin: 0rem 0rem 2rem;
}
